body {
    background-image: url(fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div#descripcioon{

    margin: auto;
    width: 800px;
    height: 1150px;
    border: 15px solid #6C3B2A;

    background-color: transparent;

}